* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    /* padding: 0.5em; */
    justify-content: flex-end;
    background-color: rgb(78, 140, 255);
}

header span {
    padding: 0.8em;
    transition: all ease-in-out 0.5s;
}

header span:hover {
    cursor: pointer;
    color: rgb(151, 222, 255);
    background-color: rgb(0, 64, 182);
}

.contenido {
    padding: 1.2em;
    display: flex;
    justify-content: center;
}
.register{
    display: flex;
    border-radius: 0.8em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 60vw;
    background-color: rgb(153, 209, 255);
    padding: 0.5em;
}
.register input{
    all:unset;
    padding: 0.3em;
    border-radius: 0.3em;
    width: 35vw;
    background-color: rgb(213, 236, 255);
}
.register button{
    all:unset;
    padding: 0.3em;
    border-radius: 0.3em;
    font-size: 1.2em;
    text-align: center;
    width: 35vw;
    background-color: rgb(23, 151, 255);
}
.register button:hover{
    cursor: pointer;
    background-color: rgb(64, 169, 255);
}
.register button:active{
    background-color: rgb(0, 102, 185);
}